/*正式代码*/
.main{
    position:relative;
    width:100%;
    height:100%;
    min-height:1000px;
    font-family:"Microsoft YaHei";
    overflow:hidden;
    perspective:1000px;
    overflow-y:hidden;
}
img.login_title{
    position:absolute;
    top:3%;
    left:50%;
    font-size:100px;
    font-weight:900;
    line-height:100px;
    text-align:center;
    color:#28a7e1;
    transform:translateX(-50%);
}
span.slogan{
    position:absolute;
    top:21%;
    left:50%;
    font-size:20px;
    font-weight:700;
    line-height:20px;
    text-align:center;
    color:rgba(85, 85, 85, .6);
    transform:translateX(-50%);
}
/*背景视频开始*/
#video_bg{
    position:absolute;
	top:0;
	right:0;
	bottom:0;
	min-width:100%;
	min-height:1000px;
	width:auto;
	height:auto;
	z-index:-1;
	opacity:0.8;
    
}
/*背景视频结束*/
/*底部星轨动画开始*/
.circle{
    display:block;
    position:absolute;
    bottom:-470px;
    left:50%;
    width:500px;
    height:500px;
    transform:translateX(-50%);
    perspective:2000px; 
    transition:all 1s;
}
.circle_star_1,
.circle_star_2,
.circle_star_3{
    display:block;
    position:absolute;
    top:0px;
    left:50%;
    width:25px;
    height:25px;
    background-color:#28a7e1;
    border-radius:50%;
    transform:translate(-50%,-50%);
}
.circle_star_2{
    top:50%;
    left:100%;
    width:15px;
    height:15px;
}
.circle_star_3{
    top:50%;
    left:0;
    width:35px;
    height:35px;
}
.circle_1,
.circle_2,
.circle_3{
    position:absolute;
    top:50%;
    left:50%;
    width:550px;
    height:550px;
    border-radius:50%;
    transform:translate(-50%,-50%);
    animation:circle linear 120s infinite;
    transition:all 10s;
    border:1px dashed #28a7e1;
}
.circle_2{
    width:650px;
    height:650px;
    transform:translate(-50%,-50%);
    animation:circle linear 120s reverse infinite;
    border:1px dotted #28a7e1;
}
.circle_3{
    width:750px;
    height:750px;
    transform:translate(-50%,-50%);
    border:2px dashed#28a7e1;
}
.circle_0{
    width:700px;
    height:700px;
}
@keyframes circle{
    0%{
        transform:translate(-50%,-50%) rotateZ(0deg);
    }
    50%{
        transform:translate(-50%,-50%) rotateZ(180deg);
    }
　　100%{
    transform:translate(-50%,-50%) rotateZ(360deg);
    }
}

/*底部星轨动画结束*/
/*注册表单开始*/
.login_frame_form{
    position:absolute;
    top:28%;
    left:50%;
    width:300px;
    height:400px;
    font-size:14px;
    font-weight:500;
    line-height:14px;
    text-align:center;
    color:#000;
    transform:translateX(-50%);
}
span.entry,
span.sign{
    display:block;
    position:absolute;
    top:0;
    left:80px;
    width:60px;
    height:38px;
    font-size:18px;
    font-weight:700;
    text-align:center;
    color:rgba(85, 85, 85, 1);
    cursor:pointer;
    outline:none;
    cursor:pointer;
    z-index:99;
}
.selected{
    color:#28a7e1 !important;
    border-bottom:2px solid #28a7e1;
}
span.sign{
    left:160px;
}
span.entry:hover,
span.sign:hover{
    color:#28a7e1;
    border-bottom:2px solid #28a7e1;
}
input.login_name,
input.login_cellphone,
input.login_password,
input.sign_cellphoneAndEmail,
input.sign_password,
input.identifying_code{
    position:relative;
    margin-top:48px;
    width:100%;
    height:50px;
    font-size:20px;
    line-height:50px;
    text-align:left;
    border:1px solid #eee;
}
input.identifying_code{
    border-bottom:1px solid #eee;
}
input.login_name,
input.sign_cellphoneAndEmail{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
input.login_name,
input.login_cellphone{
    border-bottom:1px solid #eee;
}
input.login_cellphone,
input.login_password,
input.identifying_code{
    margin-top:0;
}
input.login_password,
input.sign_password{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
input.login_password{
    height:50px;
}
.submit{
    margin-top:40px;
    width:100%;
    height:50px;
    font-size:30px;
    font-weight:700;
    line-height:50px;
    text-align:center;
    color:#fff;
    background-color:#28a7e1;
    border:none;
    border-radius:5px;
    outline:none;
    cursor:pointer;
}
input.sign_password{
    margin-top:0;
}
/*图片验证码*/
.code{
    position:absolute;
    top:150px;
    right:0;
    width:100px;
    height:50px;
    font-size:16px;
    font-weight:700;
    text-align:center;
    line-height:50px;
    border-radius:3px;
    cursor:pointer;
}
/*注册表单结束*/
.association_video{
    display:block;
    opacity:1;
    position:absolute;
    object-fit:fill;
    width:100%;
    height:100%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
/*外链*/
.contact{
    position:absolute;
    bottom:70px;
    left:40px;
    font-size:12px;
    font-weight:700;
    line-height:12px;
    text-align:center;
    color:#28a7e1;
}
ul.link_icons{
    position:absolute;
    bottom:25px;
    left:40px;
    padding:5px;
    padding-right:55px;
    background-color:#28a7e1;
    border-radius:3px;
}
li.link_icons_li{
    float:left;
    margin-right:10px;
    width:25px;
    height:25px;
}
li.link_icons_li:nth-child(5){
    margin-left:5px;
    padding-left:10px;
    border-left:1px solid #fff;
}
img.link_icons_img{
    width:25px;
    height:25px;
}
li.link_icons_li:last-child{
    font-size:25px;
    font-weight:700;
    line-height:25px;
    text-align:center;
    color:#fff;
}
span.logo_bottom{
    position:absolute;
    right:25px;
    bottom:15px;
    width:225px;
	height:45px;
	background-image:url(../icons/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.sign_frames,
.entry_frames{
    position:absolute;
    top:0;
    left:0;
}
.sign_frames{display:none;}
/*提示框*/
.login_name_prompt,
.login_cellphone_prompt,
.identifying_code_prompt,
.login_password_prompt,
.sign_cellphoneAndEmail_prompt,
.sign_password_prompt{
    display:none;
    position:absolute;
    top:50px;
    right:-115px;
    padding:0 5px;
    font-size:16px;
    font-weight:500;
    line-height:50px;
    color:red;
}
.login_cellphone_prompt,
.sign_password_prompt{
    top:100px;
}
.identifying_code_prompt{
    top:150px;
}
.login_password_prompt{
    top:200px;
}
span.login_name_test,
span.login_cellphone_test,
span.identifying_code_test,
span.login_password_test,
span.sign_cellphoneAndEmail_test,
span.sign_password_test{
    display:none;
    position:absolute;
    top:60px;
    right:-40px;
    width:25px;
    height:25px;
    background-image:url(../icons/test.png);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
span.login_cellphone_test,
span.sign_password_test{
    top:110px;
}
span.identifying_code_test{
    top:160px;
}
span.login_password_test{
    top:210px;
}